@font-face {
	font-family: "myfont";
	src: url('../fonts/my-font.eot');
	src: url('../fonts/my-font.eot?#iefix') format('eot'),
		url('../fonts/my-font.woff2') format('woff2'),
		url('../fonts/my-font.woff') format('woff'),
		url('../fonts/my-font.ttf') format('truetype'),
		url('../fonts/my-font.svg#myfont') format('svg');
}

.mf {
	font-family: "myfont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}